doctype html
html(ng-app="TodoModule")
  head
    title= title
    
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/javascripts/TodoModule.js')
    script(type='text/javascript', src='/javascripts/NameSearchModule.js')
    script(type='text/javascript', src='/javascripts/controllers/NavigationController.js')
    block head

  body
    nav.navbar.navbar-default(role="navigation")
      ul.nav.nav-tabs(role="tablist", ng-controller="NavigationController")
        li(ng-repeat="item in navlist")
          a(ng-class="{active:item.active}", href="{{item.url}}") {{item.title}}

    block content