extends layout
block head
  script(type='text/javascript', src="/javascripts/controllers/RaceController.js")

block content
  .container(ng-controller="RaceController", ng-init="setRaces( #{JSON.stringify(races)})")

    h1 Races

    h2 Add Race
    form.form-inline(novalidate, ng-submit="addNewRace()", role="form")
      .form-group
        .input-group
          .input-group-addon
            i.fa.fa-truck
          input.form-control(ng-model="newRace.name"
            , placeholder="Event name")
      .form-group
        .input-group
          .input-group-addon
            i.fa.fa-twitter-square
          input.form-control(ng-model="newRace.twitter"
      	     , placeholder="twitter")
      .form-group
        .input-group
          .input-group-addon
            i.fa.fa-calendar
          input.form-control(ng-model="newRace.date"
            , placeholder="Event Date")
      .form-group
        .input-group
          input.form-control(ng-model="newRace.series"
            , placeholder="Series Name")
      .form-group
        button.btn.btn-primary(type="submit") Add Race

    h2 Known Events
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Event Name
            th twitter
            th Series
            th Date
        tbody
          tr(ng-repeat="race in races  | nameSearch: newRace.name | orderBy:'name'")
            td
              i.fa.fa-truck 
              {{ race.name }}
            td
              i.fa.fa-twitter-square
              {{ race.twitter }}
            td
              {{ race.series }} 
            td
              i.fa.fa-calendar
              {{ race.date | date : format : shortDate }}



