extends layout
block head
  script(type='text/javascript', src="/javascripts/controllers/RaceController.js")

block content
  .container(ng-controller="RaceController", ng-init="setRaces( #{JSON.stringify(races)})")

    h1 Races

    h2 Add Race
    form.form-inline(novalidate, ng-submit="addNewRace()", role="form")
      .form-group
        .input-group
          input.form-control(ng-model="newRace.name"
            , placeholder="Event name")
      .form-group
        .input-group
          .input-group-addon
            i.fa.fa-twitter-square
          input.form-control(ng-model="newRace.twitter"
      	     , placeholder="twitter")
      .form-group
        .input-group
          input.form-control(ng-model="newRace.date"
            , placeholder="Event Date")
      .form-group
        .input-group
          input.form-control(ng-model="newRace.series"
            , placeholder="Series Name")
      .form-group
        button.btn.btn-primary(type="submit") Add Race

    h2 Known Events
    .container-fluid
      .row(ng-repeat="race in races  | nameSearch: newRace.name | orderBy:'name'")
        .col-md-2 {{ race.name }}
        .col-md-2 {{ race.date }}
        .col-md-2 {{ race.twitter }}
        .col-md-2 {{ race.series }}


